/* CSS declarations go here */

body {
    text-align: center;
    
}

#charts {
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}