/*
@import url(https://fonts.googleapis.com/css?family=Schoolbell);

@import url(https://fonts.googleapis.com/css?family=Prosto+One);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/css?family=Sniglet);
@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
*/


/*good*/


/*
@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(https://fonts.googleapis.com/css?family=Seymour+One);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC);
@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Trade+Winds);
@import url(https://fonts.googleapis.com/css?family=Neucha);

@import url(https://fonts.googleapis.com/css?family=Tenali+Ramakrishna);
@import url(https://fonts.googleapis.com/css?family=Dekko);
@import url(https://fonts.googleapis.com/css?family=Italiana);
*/

@import url(https://fonts.googleapis.com/css?family=Shojumaru);
@import url(https://fonts.googleapis.com/css?family=Antic);
html {
    /*    overflow-y: scroll;*/
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    /*        font-family: 'Happy Monkey', cursive;*/
    /*    font-family: 'Finger Paint', sans-serif;*/
    /*        font-family: 'Neucha', cursive;*/
    /*    font-family: 'Dekko', cursive;*/
    /*    font-family: 'Italiana', serif;*/
    font-family: 'Antic', sans-serif;
    text-shadow: 3px 3px 2px black;
    color: white;
    background-image: url("crystal.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#scroller {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}

#bgFilter {
    background-color: rgba(0, 17, 37, 0.2);
    box-shadow: 0 0 120px 80px rgba(0, 17, 37, 0.2);
    width: 50%;
    margin: 0 auto;
    padding: 0 3em 0 3em;
    border-radius: 60px;
    min-height: 100vh;
}


/*HEADER TEXT*/
#headerText {
    font-family: 'Shojumaru', cursive;
}

.headerTextSml,
.headerTextLg {
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.1em;
}

.headerTextSml {
    font-size: 2.4em;
}

.headerTextLg {
    font-size: 3.7em;
}
/*END HEADER TEXT*/


/*NAV STUFF*/
.navLink {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    color: white;
    font-family: 'Shojumaru', cursive;
    font-size: 1.3em;
}

.navLink:hover {
/*    border: 2px solid blue;*/
    background-color: rgba(251, 201, 1, 0.1);  
}

.navLinkHolder {
    display: inline-block;
    width: 11.5em;
    margin: 0 -0.4em 0 0;
    /*    border: 1px solid red;*/
}

#navContainer {
    margin: 1em auto 1.5em auto;
    /*    width: 45%;*/
}
/*END NAV STUFF*/



/*ABOUT PAGE*/
#aboutContent {
    margin: 0 auto;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.3;
}

.pContent {
    margin: 1em 0;
}

.pContent:last-child {
    margin: 1em 0 0 0;
}

#codeBlock {
    margin: 0;
}

#smallCap {
    font-family: 'Shojumaru', cursive;
    font-size: 0.8em;
    position: relative;
}

#midX {
    display: inline-block;
    font-size: 1.6em;
    vertical-align: -15%;
    line-height: 0.8;
}

.aboutLink {
    text-decoration: none;
    color: white;
}


/*END ABOUT PAGE*/


/*UPLOAD BUTTON*/

#hiddenFileUpload {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

#uploadBtnHolder {
    width: 250px;
    height: 250px;
    margin: 70px auto 0 auto;
    border: 5px solid #fbc901;
    border-radius: 125px;
    cursor: pointer;
    
/*    prevent selection when clicking*/
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#uploadBtnHolder:hover {
    background-color: rgba(251, 201, 1, 0.1);  
}

#uploadText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font: 2.5em 'Shojumaru', cursive;
}
/*END UPLOAD BUTTON*/

.trackDescript {
    font-size: 1.3em;
}

.galleryImg {
    width: 320px;
}

.galleryImgContainer {
/*    float: left;*/
    display: inline-block;
    border: 2px solid white;
/*    border: 2px solid #fbc901;*/
    border-radius: 20px;
    margin: 8px;
    background-color: rgba(100, 100, 100, 0.1);
}

.galleryImgContainer:hover {
    border: 2px solid #fbc901;
    background-color: rgba(60, 60, 60, 0.4);

/*border: 2px solid white;*/
    
}

#galleryImgHolder {
    margin: 0 auto;
/*    border: 1px solid red;*/
    width: 100%;
/*    width: 610px;*/
/*    height: 100vh;*/
}


/*D3 CHART STUFF*/

.svgChart {
    /*    background-color: #4b5361;*/
    /*    background-color: white;*/
    /*    padding: 1em;*/
    /*    border-radius: 20px;*/
}

#charts {
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 13px;
    fill: white;
}

#markerText {
    font-family: sans-serif;
    font-size: 15px;
    fill: white;
}

#pngoutput {
    display: none;
}


/*END D3 CHART STUFF*/